*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.content{
    /*background-color: sienna; */
    background-color: #555;
    width: 40%;
    margin: 30px auto;
}

/* стили заголовка */

.header{
    background-color: #ccc;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.header__content{
    background-color: #ccc;
}
.header__heading{
    text-align: center;
}
.header__button__info{
    font-size: 50%;
    text-align: center;
    border-radius: 10px;
    background-color: #555;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 0 10px;
}

.header__subtitle{
    display: inline-block;
    background-color: #ccc;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s;
    position: absolute;
    width: 50%;
    height: 0;
}

.header__subtitle.active{
    transform:scaleY(1);
    width: 50%;
    height: 100%;
}

/* доработать выподаюший текст */





